.header {
    line-height: 3rem;
    border-bottom: 3px solid #EDF2F8;
}
  
.header .title {
    font-weight: 600;
    font-size: 1.375rem;
}
.header .header-right {
    float: right;
}
  
.header .header-right span {
    font-weight: 100;
    color: #555;
    line-height: 2.75rem;
    padding-top: 0.25rem;
    display: inline-block;
}