@import "carbon-components/scss/globals/scss/styles";

$blue: #354C79;
$forest: #185851;
$turquoise: #49A997;
$yellow: #EACA3F;
$orange: #F59E32;
$red: #EE2E2F;

a {
    color: darken($turquoise, 5);
}

.bx--header {
    position: static !important;
    background-color: $blue !important;
}

.bx--header__nav::before {
    background-color: lighten($blue, 10) !important;
}

.mk--lg-header-nav a.bx--header__menu-item:hover {
    background-color: lighten($forest, 10) !important;
}

.mk--lg-header-nav a.bx--header__menu-item:active {
    background-color: lighten($blue, 3) !important;
}

.mk--lg-header-nav .bx--header__menu-title[aria-expanded=true] {
    background-color: lighten($blue, 3) !important;
}

.mk--lg-header-nav .bx--header__menu-title[aria-expanded=true] + .bx--header__menu {
    background-color: lighten($blue, 3) !important;
}

.bx--accordion__item:nth-child(1) .bx--accordion__heading:hover::before {
    background-color: lighten($blue, 40) !important;
}
.bx--accordion__item:nth-child(2) .bx--accordion__heading:hover::before {
    background-color: lighten($turquoise, 30) !important;
}
.bx--accordion__item:nth-child(3) .bx--accordion__heading:hover::before {
    background-color: lighten($yellow, 20) !important;
}
.bx--accordion__item:nth-child(4) .bx--accordion__heading:hover::before {
    background-color: lighten($orange, 25) !important;
}
.bx--accordion__item:nth-child(5) .bx--accordion__heading:hover::before {
    background-color: lighten($blue, 40) !important;
}

a.bx--side-nav__link:focus, .bx--side-nav a.bx--header__menu-item:focus {
    outline: 2px solid $blue !important;
}

.mk--pt-1 {
    padding-top: 1rem;
}
