@import "carbon-components/css/carbon-components.min.css";

$blue: #609fe4;
$forest: #04d18e;
$turquoise: #04d18e;
$yellow: #EACA3F;
$orange: #F59E32;
$red: #EE2E2F;
$purple: #AB75E1;

a {
    color: darken($turquoise, 3);
}

.bx--header__action:hover {
    background-color: darken($turquoise, 3);
}

.bx--header {
    position: static !important;
    background-color: $blue !important;
}

.bx--header__nav::before {
    background-color: lighten($blue, 1) !important;
}

.bx--header__menu-title[aria-expanded="true"] + .bx--header__menu {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mk--lg-header-nav a.bx--header__menu-item {
    color: white;
}

.mk--lg-header-nav a.bx--header__menu-item:hover {
    background-color: lighten($forest, 1) !important;
}

.mk--lg-header-nav a.bx--header__menu-item:active {
    background-color: lighten($blue, 1) !important;
}

.mk--lg-header-nav .bx--header__menu-title[aria-expanded=true] {
    background-color: lighten($blue, 1) !important;
}

.mk--lg-header-nav .bx--header__menu-title[aria-expanded=true] + .bx--header__menu {
    background-color: lighten($blue, 1) !important;
}

.bx--accordion__item:nth-child(1) .bx--accordion__heading:hover::before {
    background-color: lighten($blue, 3) !important;
}
.bx--accordion__item:nth-child(2) .bx--accordion__heading:hover::before {
    background-color: lighten($turquoise, 30) !important;
}
.bx--accordion__item:nth-child(3) .bx--accordion__heading:hover::before {
    background-color: lighten($yellow, 20) !important;
}
.bx--accordion__item:nth-child(4) .bx--accordion__heading:hover::before {
    background-color: lighten($orange, 25) !important;
}
.bx--accordion__item:nth-child(5) .bx--accordion__heading:hover::before {
    background-color: lighten($purple, 20) !important;
}

a.bx--side-nav__link:focus, .bx--side-nav a.bx--header__menu-item:focus {
    outline: 2px solid $blue !important;
}

.mk--pt-1 {
    padding-top: 1rem;
}

.bx--side-nav .bx--header__menu-title[aria-expanded="true"] + .bx--header__menu a.bx--header__menu-item {
    padding-left: 1.5rem;   
}

.bx--btn.bx--btn--icon-only.bx--tooltip__trigger .bx--assistive-text {
    max-width: 16rem;
}

.intro-img-col > div {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-col h3 {
    margin-bottom: 10px;
}

.bg-gradient1 {
    --gradient-color-stop1: rgb(255, 59, 59);
    --gradient-color-stop2: rgb(221, 24, 196);
    --gradient-color-stop3: rgb(84, 126, 255);
    --gradient-stop1: 0%;
    --gradient-stop2: 50%;
    --gradient-stop3: 100%;
    background: linear-gradient(
        90deg,
        var(--gradient-color-stop1) var(--gradient-stop1),
        var(--gradient-color-stop2) var(--gradient-stop2),
        var(--gradient-color-stop3) var(--gradient-stop3)
    );
}

.bg-gradient2 {
    --gradient-color-stop1: #dc36fa;
    --gradient-color-stop2: #a167ef;
    --gradient-color-stop3: #609fe4;
    --gradient-color-stop4: #3abfde;
    --gradient-color-stop5: #04d18e;
    --gradient-stop1: 0%;
    --gradient-stop2: 30%;
    --gradient-stop3: 45%;
    --gradient-stop4: 70%;
    --gradient-stop5: 85%;
    background: linear-gradient(
        110deg,
        var(--gradient-color-stop1) var(--gradient-stop1),
        var(--gradient-color-stop2) var(--gradient-stop2),
        var(--gradient-color-stop3) var(--gradient-stop3),
        var(--gradient-color-stop4) var(--gradient-stop4),
        var(--gradient-color-stop5) var(--gradient-stop5)
    );
    
    border-bottom: 0;
}

.main-grid {
    margin-top: 1rem;
}

.intro-img {
    border-radius: 20px;
}
@supports(mask-image: paint(smooth-corners)) {
    .intro-img {
        border-radius: 0;
        mask-image: paint(smooth-corners);
        --smooth-corners: 5.5;
    }
}
@supports(-webkit-mask-image: paint(smooth-corners)) {
    .intro-img {
        border-radius: 0;
        -webkit-mask-image: paint(smooth-corners);
        --smooth-corners: 5.5;
    }
}

.blog-item {
    margin-top: 20px;
    a {
        font-size: 18px;
    }
}

.date-col {
    margin-top: 5px;
}

.main-grid {
    margin-bottom: 20px;
}

.album-grid-container {
    position: relative;
    padding: 20px;
}

.album-grid {
    display: block;
    position: relative;

}

.album-card {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.album-card, .album-card-overlay, .album-card > img {
    border-radius: 10px;
}

.album-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}

.album-card-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 0 1px 1px #000;
    transition: bottom 0.3s ease-in-out;
}

.album-card-overlay:hover > .album-card-text {
    bottom: 20px;
}

.album-title {
    font-size: 24px;
}
.album-subtitle {
    
}

.album-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.album-view-title {
    display: inline-block;
    color: white;
    padding-left: 10px;
}

.image-view {
    width: 100%;
    flex-grow: 1;
}

.album-view-toolbar {
    width: 100%;
}

.album-view-toolbar button {
    background: transparent;
    color: silver;
    border: 0;
    outline: 0;
    text-decoration: underline;
    cursor: pointer;
}

.album-view-toolbar input {
    float: right;
}


.image-view-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.image-view-inner button {
    writing-mode: vertical-lr;
}
